body {
    /* max-width: 50%;
    height:auto; */
    font-family: 'Poppins', sans-serif;
    }
    
    
    #about-me, h4, h1, h5 {
        margin-top: -2%;
        margin-bottom: 5%;
        text-align: center;
    }
    h3{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #about-me-title, #education-title {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .card, .noborder {
        border: none;
    
    }
    
    .card-body {
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 35px;
        max-width: 980px;
        max-height: 90%;
        ;
    }
    
    .card-text {
        font-size: 24px;
        margin: 1% 8%;
        width: 65%;
    }
    
    .card-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 6%;
    }
    
    #carousel {
        max-height: 80%;
        max-width: auto;
    }
    
    #connect-button {
        background-color: blue;
        color: white;
        font-size: 16px;
        align-content: center;
        border: none;
        border-radius: 50px;
        padding: 1rem 3rem;
        margin-left: 10%;
       
    }
    
    #connect {
        font-size: 45px;
        align-content: center;
        padding: 10px;
       
    }
    
    .container {
        margin: 0 auto;
        padding: 5%;
        width: 100%;
        height: auto;
    }
    
    .contact-info-addresses {
        align-content: center;
    }
    
    .contact-form {
        align-content: center;
    }
    
    .experience-photos {
        margin-bottom: 5%;
        margin-right: 5%;
        padding: 5%;
    }
    
    footer {
        font-size: 18px;
        height: 80px;
        padding-top: 20px;
    }
    
    .inner-card-text {
        font-size: 16px;
        margin: 5% 8%;
        width: 65%;
        overflow: scroll;
    }
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        resize: vertical;
    }
    
    .jumbotron {
        background: none;
        align-content: center;
        /* font-size: 65px; */
        margin: 1% 5%;
        /* font-family: 'Poppins', sans-serif; */
    }
    
    #letsconnect {
        background: transparent;
    }
    
    .margin {
        margin: 0 auto;
    }
    
    #my-experience {
        margin: 8%;
    }
    
    .nav-link {
        font-size: 18px;
        color: navy;
        margin: -16%;
    }
    
    
     #me {
         margin: 5%;
        max-width: 100%;
    }
    
    .text-block {
        margin: 0 auto;
        margin-top: 3%;
        width: 80%;
        height: 90%;
        color: white;
        border-radius: 15px;
     
    }
    
    #submit-button {
        float: right;
        background-color: blue;
        color: white;
        font-size: 18px;
        align-content: center;
        border: none;
        border-radius: 20px;
        padding: 1rem 3rem;
        margin: 2.5%;
    }
    
    .social-links {
        margin: 4%;
    }
    
    #tagline {
        font-size: 24px;
    }
    
    .thumbnail {
        border-radius: 50%;
    }
    
    .wht-fnt {
        color: white;
    }
    .img-fluid{
        max-width: 50%;
        height: auto;
    }

    .footer
    {
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        height: 50px;
        line-height:45px;
        background-color: transparent;
        color: navy;
    }